<ion-header>
  <ion-toolbar>
    <ion-title>Balta.io Course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auto-scroll">
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
        <h1 text-center class="oleo-script">LOGIN</h1>
        <ion-list no-lines>
          <ion-item>
            <ion-input type="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="full">Access</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <small>
          Ainda não tem conta?&nbsp;<strong>Cadastre-se</strong>
        </small>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>